*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
}

.navColor{
	background-color: #272530;
}

.bodyColor{
	background-color: #d9b9a1;
}

.altBodyColor{
	background-color: #8a453b;
}

.footerColor{
	background-color: #512720;
}

.windowColor{
	background-color: #584d42;
}

.background{
	background-image: url(./images/webDevBG.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	background-attachment: scroll;
	min-height: 40rem;
}

.front-bg{
	background-color: rgba(0, 0, 0, 0.25);
	min-height: 40rem;
	color: white;
}

.fontColor{
	color: #d9b9a1;
}

.fontColor2{
	color: #584d42;
}

.fontColor3{
	color: #303a4e;
}

.fontSize{
	font-size: 26px;
}

.fontStyle{
	font-style: italic;
}

.descend p{
	display: inline;
}

.form-control::placeholder{
            color: #d9b9a1;
}

select option{
	color: #d9b9a1;
	opacity: 0.5;
}

select{
	color: #512720;
}

.listStyleType{
	list-style-type: none;
}

a{
	color: inherit;
	text-decoration: none;
}

.hireMeButton{
	border: none;
	border-radius: 20px;
}

a:hover{
	color: #512720;
}